<div class="titles">
  <h1>USERS#SHOW.view</h1>
</div>
<div class="users">
  ID: <%= User.find(params[:id]).id %><br>
  USERNAME: <%= User.find(params[:id]).username %><br>
  EVENTS: <% User.find(params[:id]).events.each do |event| %><br>
    <div class="user-events">
      <%= event.date %> -
      <%= event.description %>
    </div>
  <% end %>
</div>
