<div class="event-index">
  <div class="events-list">
    <div class="events-title">
      <h5>EVENTS: </h5>
    </div>
    <div class="events">
      <% @events.each do |event| %>
        <%= link_to event_path(event) do%>
          <div class="event">
            <b><%= event.date %></b>:&nbsp;&nbsp;
            <%= event.description %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
