<div class="event-show">
  <div class="event-description">
    <h5>DESCRIPTION: </h5>
    <h2>
      <%= @event.description %>
    </h2>
  </div>
  <div class="event-date">
    <h5>DATE: </h5>
    <h3>
      <%= Event.find(params[:id]).date %>
    </h3>
    <h5>HOST: </h5>
    <h3>
      <%= Event.find(params[:id]).creator.username %>
    </h3>
  </div>
  <div class="event-attendees">
    <h5>ATTENDEES: </h5>
    <h2>
      <% Event.find(params[:id]).attendees.each do |attendee| %>
        <%= attendee.username %>
      <% end %>
    </h2>
  </div>
</div>
