/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 div {
  /*border: solid 1px;*/
}

.navbar {
  display: flex;
  margin: 10px;
  padding: 10px;
  background: linear-gradient(45deg, #a55, white, #99c);
  border-radius: 30px;
  text-c;
}

.session {
  display: flex;
  /*background: linear-gradient(-45deg, white, #999);*/
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.session-items {
  padding: 10px;
}

.menu {
  display: flex;
  justify-content: flex-end;
  flex: 10;
  /*background: linear-gradient(45deg, white, #999);*/
}

.menu-items {
  padding: 10px;
}

a {
  color: rgb(1, 21, 59);
}

.users-list {
  background-color: blanchedalmond;
}

.users {
  background-color: rgb(233, 207, 104);
}

.event-description {
  padding: 30px;
  background-color: rgb(205, 238, 248);
  border-radius: 12px;
  border-style: outset;
  border-color: rgb(2, 92, 93);
  text-align: center;
}

.event-date {
  padding: 10px;
  margin: -15px 70% 20px 5%;
  background-color: rgb(248, 205, 245);
  border-radius: 25px;
  border-style: outset;
  border-color: rgb(2, 92, 93);
  text-align: center;
}

.event-attendees {
  padding: 10px;
  margin: -270px 20px 20px 70%;
  background-color: rgb(205, 248, 233);
  border-radius: 25px;
  border-style: outset;
  border-color: rgb(2, 92, 93);
  text-align: center;
}

h5 {
  background-color: rgba(255, 255, 255, 0.698);
  border-style: groove;
  border-radius: 10px;
  text-align: center;
  padding: 5px 0 5px 0;
}

.events {
  display: flex;
  align-content: stretch;
  margin: 40px;
}

.events-past {
  margin-left: 5%;
}

.events-upcoming {
  margin-left: 15%;
}

.event {
  padding: 10px;
  margin: 0 20px 10px 0;
  background-color: rgb(245, 244, 229);
  border-radius: 15px;
  border-style: outset;
  border-color: rgb(1, 16, 29);
}

.user-events {
  padding: 10px;
  background-color: floralwhite;
}

.event-form {
  padding: 10px;
  border: 1px;
}

.list-of-events {
  display: flex;
  margin: 20px;
  background-color: gainsboro;
  align-items: flex-start;
}

.events-created {
  margin: 20px;
  background-color: lightcyan;
}

.events-attended {
  margin: 20px;
  background-color: rgb(250, 234, 230);
}

.invitations {
  margin-top: 180px;
}
