/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 div {
  /*border: solid 1px;*/
}

.navbar {
  display: flex;
  margin: 10px;
  padding: 10px;
  background: linear-gradient(45deg, #a55, white, #99c);
  border-radius: 30px;
  text-c;
}

.session {
  display: flex;
  /*background: linear-gradient(-45deg, white, #999);*/
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.session-items {
  padding: 10px;
}

.menu {
  display: flex;
  justify-content: flex-end;
  flex: 10;
  /*background: linear-gradient(45deg, white, #999);*/
}

.menu-items {
  padding: 10px;
}

a {
  color: rgb(1, 21, 59);
}
